<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleship</title>
</head>

<body>
    <div class="main">
        <div class="players">
            <div class="player board">
                <div class="buttons notStarted">
                    <div class="randomize notClicked startScreen">Randomize
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M27.3 4.7C24.4 1.8 20.42 0 16 0C11.7565 0 7.68687 1.68571 4.68629 4.68629C1.68571 7.68687 0 11.7565 0 16C0 20.2435 1.68571 24.3131 4.68629 27.3137C7.68687 30.3143 11.7565 32 16 32C23.46 32 29.68 26.9 31.46 20H27.3C25.66 24.66 21.22 28 16 28C12.8174 28 9.76516 26.7357 7.51472 24.4853C5.26428 22.2348 4 19.1826 4 16C4 12.8174 5.26428 9.76516 7.51472 7.51472C9.76516 5.26428 12.8174 4 16 4C19.32 4 22.28 5.38 24.44 7.56L18 14H32V0L27.3 4.7Z"
                                fill="white" />
                        </svg>
                    </div>
                    <div class="reset notClicked startScreen">Reset
                        <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M22.7499 42C17.0449 42 11.9174 38.5 9.7999 33.25L4.4974 19.8975C3.9549 18.515 5.2499 17.1325 6.6674 17.5875L8.0499 18.0425C9.0299 18.375 9.8349 19.11 10.2199 20.0725L12.6874 26.25H13.9999V5.6875C13.9999 4.48 14.9799 3.5 16.1874 3.5C17.3949 3.5 18.3749 4.48 18.3749 5.6875V21H20.1249V2.1875C20.1249 0.98 21.1049 0 22.3124 0C23.5199 0 24.4999 0.98 24.4999 2.1875V21H26.2499V4.8125C26.2499 3.605 27.2299 2.625 28.4374 2.625C29.6449 2.625 30.6249 3.605 30.6249 4.8125V21H32.3749V10.0625C32.3749 8.855 33.3549 7.875 34.5624 7.875C35.7699 7.875 36.7499 8.855 36.7499 10.0625V28C36.7499 35.735 30.4849 42 22.7499 42Z"
                                fill="white" />
                        </svg>
                    </div>

                    <div class="bomb inGame notClicked">
                        <svg width="97" height="98" viewBox="0 0 97 98" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_22_2163)">
                                <path
                                    d="M40.1877 76.4884C40.3115 76.3646 40.4829 76.2884 40.6639 76.2979L67.1716 76.2884C67.343 76.2884 67.524 76.3551 67.6478 76.4789C67.7717 76.6027 67.8479 76.7742 67.8383 76.9551C67.8383 80.4603 66.4668 83.7559 63.9808 86.2419C61.4948 88.7279 58.1992 90.0995 54.694 90.0995L53.1129 90.0995C45.874 90.0995 39.9686 84.194 39.9686 76.9551C39.9781 76.7742 40.0638 76.6122 40.1877 76.4884ZM66.4763 77.6314L41.3497 77.6314C41.6926 83.8226 46.8551 88.7565 53.1224 88.7565L54.7036 88.7564C57.8468 88.7564 60.7995 87.5182 63.0283 85.2894C65.1047 83.213 66.3144 80.5174 66.4763 77.6314Z"
                                    fill="#DE4D86" />
                                <path
                                    d="M40.1784 55.1052C40.3023 54.9813 40.4737 54.9051 40.6547 54.9147L67.1719 54.9147C67.3433 54.9147 67.5243 54.9813 67.6481 55.1052C67.772 55.229 67.8482 55.4004 67.8386 55.5814L67.8482 76.9647C67.8482 77.3457 67.5529 77.641 67.1719 77.641C66.7909 77.641 66.4956 77.3457 66.4956 76.9647L66.4956 56.2577L41.3309 56.2577L41.3309 76.9647C41.3309 77.3457 41.0357 77.641 40.6547 77.641C40.2737 77.641 39.9784 77.3457 39.9784 76.9647L39.9879 55.5814C39.9784 55.4004 40.0546 55.229 40.1784 55.1052Z"
                                    fill="#DE4D86" />
                                <path
                                    d="M46.8841 44.4182C47.0079 44.2944 47.1794 44.2182 47.3604 44.2277L60.4666 44.2277C60.6952 44.2277 60.9142 44.3516 61.0381 44.5516L67.7436 55.2385C67.9436 55.5528 67.8483 55.9719 67.534 56.1719C67.2197 56.3719 66.8006 56.2767 66.6006 55.9624L60.0951 45.5898L47.7318 45.5898L41.2264 55.9624C41.0263 56.2767 40.6072 56.3719 40.2929 56.1719C39.9786 55.9719 39.8833 55.5528 40.0834 55.2385L46.7889 44.5516C46.827 44.4944 46.846 44.4563 46.8841 44.4182Z"
                                    fill="#DE4D86" />
                                <path
                                    d="M53.437 36.684C53.5132 36.6078 53.6084 36.5507 53.7227 36.5126L65.0764 33.1979C65.2859 33.1408 65.4955 33.1789 65.6669 33.3122C65.8384 33.4456 65.9336 33.6361 65.9336 33.8456L65.9336 39.3319C65.9336 39.4843 65.8765 39.6558 65.7717 39.7796L60.9616 45.3516C60.714 45.6374 60.2854 45.666 60.0091 45.4278C59.7234 45.1802 59.6948 44.7516 59.933 44.4754L64.5716 39.0938L64.5716 34.7505L54.5609 37.6746L54.5609 44.9135C54.5609 45.2945 54.2657 45.5898 53.8847 45.5898C53.5037 45.5898 53.2084 45.2945 53.2084 44.9135L53.2084 37.1603C53.2465 36.9698 53.3132 36.8078 53.437 36.684Z"
                                    fill="#DE4D86" />
                                <path
                                    d="M42.0835 33.3695C42.1025 33.3505 42.1311 33.3219 42.1501 33.3028C42.3216 33.1695 42.5407 33.1409 42.7407 33.1885L54.0943 36.5032C54.4467 36.608 54.6563 36.989 54.5515 37.3414C54.4467 37.6938 54.0658 37.9034 53.7133 37.7986L43.2265 34.7411L43.2265 39.0844L47.8651 44.466C48.1127 44.7517 48.0746 45.1708 47.7889 45.4185C47.5031 45.6661 47.084 45.628 46.8364 45.3423L42.0263 39.7702C41.9216 39.6464 41.8644 39.494 41.8644 39.3226L41.8644 33.8362C41.8835 33.6648 41.9597 33.4933 42.0835 33.3695Z"
                                    fill="#DE4D86" />
                                <path
                                    d="M53.4372 24.5685C53.561 24.4447 53.7324 24.3685 53.9134 24.378C54.2944 24.378 54.5897 24.6733 54.5897 25.0542L54.5897 33.7409C54.5897 34.1219 54.2944 34.4172 53.9134 34.4172C53.5324 34.4172 53.2371 34.1219 53.2371 33.7409L53.2467 25.0447C53.2371 24.8637 53.3133 24.6923 53.4372 24.5685Z"
                                    fill="#DE4D86" />
                                <path
                                    d="M47.1791 18.844C47.3029 18.7202 47.4744 18.644 47.6553 18.6535C48.0363 18.6535 48.3316 18.9488 48.3316 19.3298L48.3316 30.7786C48.3316 31.1596 48.0363 31.4549 47.6553 31.4549C47.2743 31.4549 46.9791 31.1596 46.9791 30.7786L46.9791 19.3298C46.9886 19.1297 47.0648 18.9583 47.1791 18.844Z"
                                    fill="#DE4D86" />
                                <path
                                    d="M59.6947 18.844C59.8185 18.7202 59.99 18.644 60.171 18.6535C60.552 18.6535 60.8472 18.9488 60.8472 19.3298L60.8472 30.7786C60.8472 31.1596 60.552 31.4549 60.171 31.4549C59.79 31.4549 59.4947 31.1596 59.4947 30.7786L59.4947 19.3298C59.4947 19.1393 59.5709 18.9678 59.6947 18.844Z"
                                    fill="#DE4D86" />
                                <path
                                    d="M44.1313 72.3356C44.2551 72.2118 44.4266 72.1356 44.6076 72.1451L63.2191 72.1451C63.6001 72.1451 63.8954 72.4404 63.8954 72.8214C63.8954 73.2024 63.6001 73.4977 63.2191 73.4977L44.6076 73.4977C44.2266 73.4977 43.9313 73.2024 43.9313 72.8214C43.9313 72.6309 44.0075 72.4595 44.1313 72.3356Z"
                                    fill="#DE4D86" />
                                <path
                                    d="M48.2746 68.0781C48.3985 67.9543 48.5699 67.8781 48.7509 67.8876L59.0758 67.8876C59.4568 67.8876 59.7521 68.1828 59.7521 68.5638C59.7521 68.9448 59.4568 69.2401 59.0758 69.2401L48.7509 69.2401C48.3699 69.2401 48.0746 68.9448 48.0746 68.5638C48.0746 68.3733 48.1508 68.2019 48.2746 68.0781Z"
                                    fill="#DE4D86" />
                                <path
                                    d="M45.5504 79.4317C45.6742 79.3079 45.8456 79.2317 46.0266 79.2412C46.4076 79.2412 46.7029 79.5364 46.7029 79.9174C46.7029 82.8321 49.065 85.1942 51.9796 85.1942C52.3606 85.1942 52.6559 85.4895 52.6559 85.8705C52.6559 86.2515 52.3606 86.5467 51.9796 86.5467C48.3221 86.5467 45.3503 83.575 45.3599 79.927C45.3503 79.7269 45.4265 79.5555 45.5504 79.4317Z"
                                    fill="#DE4D86" />
                            </g>
                            <defs>
                                <clipPath id="clip0_22_2163">
                                    <rect width="60.6159" height="75.7698" fill="white"
                                        transform="translate(96.8706 54.3812) rotate(135)" />
                                </clipPath>
                            </defs>
                        </svg>

                        <div class="cost">50</div>
                    </div>
                    <div class="airforce inGame notClicked">
                        <svg width="97" height="98" viewBox="0 0 97 98" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_41_1422)">
                                <path
                                    d="M70.0862 64.3036L70.0126 60.1347C70.0113 60.0301 69.9871 59.927 69.9417 59.8328C69.8962 59.7385 69.8306 59.6554 69.7495 59.5893L64.2576 55.0888L64.1398 48.3391L78.2091 51.0727C78.3145 51.0935 78.4233 51.0905 78.5274 51.0638C78.6316 51.0371 78.7284 50.9875 78.8109 50.9185C78.8933 50.8496 78.9593 50.763 79.004 50.6653C79.0487 50.5675 79.0709 50.461 79.0691 50.3535L78.9821 45.2229C78.9794 45.0969 78.9439 44.9737 78.8791 44.8655C78.8143 44.7573 78.7224 44.6679 78.6125 44.6061L76.9965 43.7078C76.9979 43.6913 76.9984 43.6747 76.9981 43.6581L76.8836 37.0009C76.8741 36.4553 76.6523 35.5739 76.345 34.8566C75.8681 33.7337 75.2671 33.1765 74.5379 33.1893C73.8373 33.2015 73.2628 33.7792 72.8194 34.9173C72.5406 35.6415 72.3473 36.5343 72.3569 37.08L72.4278 41.1419L70.4391 40.0294L70.3246 33.4237C70.3151 32.878 70.0942 31.9958 69.7868 31.2785C69.3107 30.1565 68.7089 29.5984 67.978 29.6112C67.2783 29.6242 66.7038 30.202 66.2604 31.34C65.9816 32.0642 65.7883 32.9571 65.7978 33.5027L65.8638 37.4721L63.9295 36.389L63.882 33.5715C63.8799 33.4497 63.847 33.3304 63.7863 33.2247C63.7257 33.119 63.6394 33.0303 63.5354 32.9669L58.9723 30.1946L58.8344 22.1952C58.7618 18.4026 57.8727 14.6702 56.2277 11.2522L53.7125 6.03521C53.6535 5.90907 53.5593 5.80271 53.4411 5.72901C53.323 5.65532 53.186 5.61744 53.0467 5.61996C52.9075 5.62248 52.772 5.66529 52.6566 5.74321C52.5412 5.82113 52.4508 5.93083 52.3964 6.05903L50.0623 11.3565C48.5379 14.831 47.7808 18.5934 47.8425 22.3871L47.9821 30.3881L43.5186 33.318C43.4163 33.3844 43.3327 33.4759 43.2757 33.5838C43.2188 33.6917 43.1904 33.8124 43.1933 33.9343L43.2433 36.7492L41.3471 37.8983L41.2796 33.9307C41.2692 33.3842 41.0491 32.5028 40.7409 31.7847C40.2648 30.6626 39.6647 30.1045 38.9338 30.1173C38.2341 30.1304 37.6596 30.7081 37.2153 31.8453C36.9374 32.5704 36.7424 33.4632 36.7528 34.008L36.8681 40.6146L34.9203 41.7966L34.8485 37.7338C34.8399 37.189 34.6181 36.306 34.3108 35.5886C33.8305 34.4709 33.2337 33.9094 32.5028 33.9221C30.956 33.95 30.307 36.9161 30.3218 37.8128L30.4387 44.4624L30.4413 44.5128L28.8576 45.467C28.7494 45.532 28.6605 45.6245 28.5997 45.735C28.5389 45.8456 28.5084 45.9702 28.5114 46.0963L28.601 51.2277C28.6021 51.3225 28.6221 51.4161 28.6598 51.503C28.6975 51.59 28.7521 51.6686 28.8204 51.7343L28.8752 51.7872C28.9597 51.8536 29.0581 51.9001 29.1631 51.9232C29.2681 51.9463 29.3769 51.9455 29.4815 51.9207L43.4468 48.6977L43.5646 55.4475L38.2415 60.1367C38.2274 60.1513 38.2134 60.1659 38.2001 60.1796C38.0675 60.3174 37.995 60.5023 37.9985 60.6935L38.0705 64.8624C38.0716 64.9574 38.0917 65.0512 38.1295 65.1383C38.1673 65.2255 38.2221 65.3042 38.2907 65.3699C38.3104 65.3889 38.3319 65.4096 38.3516 65.4286C38.4387 65.4946 38.5396 65.5401 38.6467 65.5615C38.7539 65.583 38.8645 65.5799 38.9703 65.5526L50.8097 62.4788L57.2681 62.366L69.2076 65.0248C69.3143 65.0484 69.425 65.0476 69.5313 65.0224C69.6377 64.9972 69.7369 64.9483 69.8216 64.8793C69.8425 64.8603 69.8621 64.84 69.8804 64.8185C69.9473 64.7507 69.9999 64.6702 70.0353 64.5818C70.0706 64.4934 70.0879 64.3988 70.0862 64.3036ZM73.8001 37.0548C73.7883 36.3811 74.2512 35.0069 74.5789 34.671C74.9216 35.0019 75.4261 36.3534 75.4387 37.0245L75.5401 42.8842L73.884 41.9571L73.8001 37.0548ZM67.2411 33.4775C67.2293 32.8039 67.6922 31.4296 68.019 31.0929C68.3617 31.4238 68.8679 32.7753 68.8797 33.4472L68.9803 39.2118L67.3233 38.2838L67.2411 33.4775ZM77.5418 45.66L77.6086 49.4862L64.114 46.8638L63.9603 38.0562L77.5418 45.66ZM38.1927 33.9862C38.181 33.3126 38.6438 31.9383 38.9723 31.6016C39.315 31.9325 39.8195 33.284 39.8313 33.9559L39.9161 38.7648L38.2916 39.7491L38.1927 33.9862ZM31.7642 37.7885C31.7524 37.1149 32.2161 35.7414 32.543 35.4047C32.8857 35.7356 33.391 37.0863 33.4019 37.7574L33.4875 42.6614L31.8639 43.6466L31.7642 37.7885ZM30.0313 50.3158L29.9645 46.4913L43.2733 38.419L43.427 47.2249L30.0313 50.3158ZM58.1165 61.0726L57.9959 54.168C57.9977 54.0711 57.9799 53.9749 57.9436 53.885C57.9073 53.7952 57.8534 53.7136 57.7849 53.645C57.7164 53.5765 57.6348 53.5225 57.545 53.4861C57.4552 53.4498 57.359 53.4319 57.2621 53.4335C57.1653 53.4352 57.0697 53.4563 56.9812 53.4956C56.8927 53.535 56.813 53.5917 56.7468 53.6626C56.6807 53.7334 56.6295 53.8168 56.5963 53.9078C56.5631 53.9988 56.5485 54.0956 56.5535 54.1923L56.6711 60.9286L51.3571 61.0222L51.2395 54.2859C51.2384 54.1908 51.2184 54.0968 51.1809 54.0094C51.1433 53.9221 51.0888 53.843 51.0206 53.7767C50.9524 53.7104 50.8717 53.6583 50.7832 53.6233C50.6948 53.5883 50.6003 53.5712 50.5052 53.5728C50.4101 53.5745 50.3162 53.5949 50.2291 53.633C50.1419 53.671 50.0631 53.7259 49.9972 53.7946C49.9313 53.8632 49.8797 53.9441 49.8452 54.0328C49.8107 54.1214 49.794 54.216 49.7962 54.3111L49.9168 61.2158L39.4943 63.9212L39.4434 61.0027L44.7749 56.3133C44.789 56.2987 44.8022 56.285 44.8163 56.2704C44.949 56.1326 45.0215 55.9477 45.0179 55.7565L44.6451 34.3049L49.1087 31.375C49.2527 31.2796 49.3573 31.1354 49.4031 30.9689C49.4109 30.9377 49.4171 30.9061 49.4217 30.8742C49.4276 30.834 49.4297 30.7934 49.428 30.7528L49.2816 22.3662C49.2258 18.7804 49.9438 15.2247 51.3864 11.9415L53.0904 8.08357L54.928 11.8797C56.4814 15.1093 57.3209 18.6356 57.3894 22.2188L57.5358 30.6054C57.5354 30.6549 57.5405 30.7042 57.551 30.7525C57.5536 30.7688 57.5576 30.7848 57.5628 30.8003C57.6123 30.9744 57.7259 31.1233 57.8809 31.2168L62.4439 33.9891L62.8184 55.4458C62.8202 55.5505 62.8448 55.6536 62.8903 55.7479C62.9359 55.8422 63.0014 55.9255 63.0824 55.992L68.5743 60.4925L68.6252 63.411L58.1165 61.0726Z"
                                    fill="#DE4D86" />
                                <path
                                    d="M55.7161 21.5615C55.6972 20.5244 55.4454 19.5049 54.9793 18.5783L54.4558 17.543C54.3429 17.3195 54.1693 17.1323 53.9549 17.0029C53.7404 16.8735 53.4939 16.8071 53.2435 16.8114C52.9931 16.8157 52.749 16.8904 52.5391 17.0271C52.3292 17.1637 52.1621 17.3568 52.0569 17.584L51.5691 18.6378C51.1362 19.5803 50.9201 20.6079 50.9368 21.6449L51.1551 34.2038C51.1606 34.5177 51.2279 34.8275 51.3531 35.1154C51.4783 35.4034 51.659 35.6638 51.8848 35.8819C52.1107 36.1 52.3773 36.2715 52.6694 36.3866C52.9615 36.5017 53.2735 36.5581 53.5874 36.5526C53.9013 36.5471 54.2111 36.4799 54.499 36.3547C54.787 36.2295 55.0474 36.0488 55.2655 35.8229C55.4836 35.5971 55.6551 35.3305 55.7702 35.0383C55.8853 34.7462 55.9417 34.4343 55.9362 34.1203L55.7161 21.5615ZM53.5614 35.1085C53.3105 35.1115 53.0686 35.0154 52.8882 34.8412C52.7078 34.6669 52.6033 34.4286 52.5975 34.1778L52.38 21.6197C52.3666 20.8001 52.5375 19.988 52.8801 19.2433L53.2705 18.3984L53.6902 19.2292C54.0585 19.9614 54.2577 20.7671 54.2729 21.5867L54.493 34.1455C54.4959 34.3964 54.3999 34.6382 54.2256 34.8187C54.0514 34.9991 53.813 35.1036 53.5622 35.1094L53.5614 35.1085Z"
                                    fill="#DE4D86" />
                            </g>
                            <defs>
                                <clipPath id="clip0_41_1422">
                                    <rect width="60.9789" height="76.2236" fill="white"
                                        transform="translate(52.9492) rotate(44)" />
                                </clipPath>
                            </defs>
                        </svg>

                        <div class="cost">80</div>
                    </div>
                </div>
                <div class="name"><span>Player</span>
                    <svg class="playerRefresh" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>refresh</title>
                        <path
                            d="M17.65,6.35C16.2,4.9 14.21,4 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20C15.73,20 18.84,17.45 19.73,14H17.65C16.83,16.33 14.61,18 12,18A6,6 0 0,1 6,12A6,6 0 0,1 12,6C13.66,6 15.14,6.69 16.22,7.78L13,11H20V4L17.65,6.35Z" />
                    </svg>
                </div>
                <div class="squares">
                    <div class="letters">
                        <div class="empty"></div>
                        <div class="letter a">A</div>
                        <div class="letter b">B</div>
                        <div class="letter c">C</div>
                        <div class="letter d">D</div>
                        <div class="letter e">E</div>
                        <div class="letter f">F</div>
                        <div class="letter g">G</div>
                        <div class="letter h">H</div>
                        <div class="letter i">I</div>
                        <div class="letter j">J</div>
                    </div>
                    <div class="bottom">
                        <div class="numbers">
                            <div class="number one">1</div>
                            <div class="number two">2</div>
                            <div class="number three">3</div>
                            <div class="number four">4</div>
                            <div class="number five">5</div>
                            <div class="number six">6</div>
                            <div class="number seven">7</div>
                            <div class="number eight">8</div>
                            <div class="number nine">9</div>
                            <div class="number ten">10</div>
                        </div>
                        <div class="tiles">
                        </div>
                        <div class="tilesOverlay">
                            <div class="00"></div>
                            <div class="01"></div>
                            <div class="02"></div>
                            <div class="03"></div>
                            <div class="04"></div>
                            <div class="05"></div>
                            <div class="06"></div>
                            <div class="07"></div>
                            <div class="08"></div>
                            <div class="09"></div>
                            <div class="10"></div>
                            <div class="11"></div>
                            <div class="12"></div>
                            <div class="13"></div>
                            <div class="14"></div>
                            <div class="15"></div>
                            <div class="16"></div>
                            <div class="17"></div>
                            <div class="18"></div>
                            <div class="19"></div>
                            <div class="20"></div>
                            <div class="21"></div>
                            <div class="22"></div>
                            <div class="23"></div>
                            <div class="24"></div>
                            <div class="25"></div>
                            <div class="26"></div>
                            <div class="27"></div>
                            <div class="28"></div>
                            <div class="29"></div>
                            <div class="30"></div>
                            <div class="31"></div>
                            <div class="32"></div>
                            <div class="33"></div>
                            <div class="34"></div>
                            <div class="35"></div>
                            <div class="36"></div>
                            <div class="37"></div>
                            <div class="38"></div>
                            <div class="39"></div>
                            <div class="40"></div>
                            <div class="41"></div>
                            <div class="42"></div>
                            <div class="43"></div>
                            <div class="44"></div>
                            <div class="45"></div>
                            <div class="46"></div>
                            <div class="47"></div>
                            <div class="48"></div>
                            <div class="49"></div>
                            <div class="50"></div>
                            <div class="51"></div>
                            <div class="52"></div>
                            <div class="53"></div>
                            <div class="54"></div>
                            <div class="55"></div>
                            <div class="56"></div>
                            <div class="57"></div>
                            <div class="58"></div>
                            <div class="59"></div>
                            <div class="60"></div>
                            <div class="61"></div>
                            <div class="62"></div>
                            <div class="63"></div>
                            <div class="64"></div>
                            <div class="65"></div>
                            <div class="66"></div>
                            <div class="67"></div>
                            <div class="68"></div>
                            <div class="69"></div>
                            <div class="70"></div>
                            <div class="71"></div>
                            <div class="72"></div>
                            <div class="73"></div>
                            <div class="74"></div>
                            <div class="75"></div>
                            <div class="76"></div>
                            <div class="77"></div>
                            <div class="78"></div>
                            <div class="79"></div>
                            <div class="80"></div>
                            <div class="81"></div>
                            <div class="82"></div>
                            <div class="83"></div>
                            <div class="84"></div>
                            <div class="85"></div>
                            <div class="86"></div>
                            <div class="87"></div>
                            <div class="88"></div>
                            <div class="89"></div>
                            <div class="90"></div>
                            <div class="91"></div>
                            <div class="92"></div>
                            <div class="93"></div>
                            <div class="94"></div>
                            <div class="95"></div>
                            <div class="96"></div>
                            <div class="97"></div>
                            <div class="98"></div>
                            <div class="99"></div>
                        </div>
                    </div>
                </div>
                <div class="ships">
                    <div class="keys">
                        <div class="key1">Press z to undo</div>
                        <div class="key2">Click ship to rotate</div>
                    </div>
                    <div class="distroyers">
                        <div class="destroyer ship quad_horizontal" draggable="true">
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="battleships">
                        <div class="battleship ship tri_horizontal" draggable="true">
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                        <div class="battleship ship tri_horizontal" draggable="true">
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="freighters">
                        <div class="freighter ship double_horizontal" draggable="true">
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                        <div class="freighter ship double_horizontal" draggable="true">
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                        <div class="freighter ship double_horizontal" draggable="true">
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="boats">
                        <div class="boat ship single_horizontal" draggable="true">
                            <div class="circle"></div>
                        </div>
                        <div class="boat ship single_horizontal" draggable="true">
                            <div class="circle"></div>
                        </div>
                        <div class="boat ship single_horizontal" draggable="true">
                            <div class="circle"></div>
                        </div>
                        <div class="boat ship single_horizontal" draggable="true">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="opponent board">
                <div class="buttons notStarted">
                    <div class="pvc clicked startScreen">P VS C
                        <svg width="84" height="105" viewBox="0 0 84 105" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M57.12 24.612H44.268V17.808H39.732V24.612H26.88C24.6744 24.612 22.5592 25.4881 20.9997 27.0477C19.4401 28.6072 18.564 30.7224 18.564 32.928V57.876C18.564 60.0815 19.4401 62.1967 20.9997 63.7563C22.5592 65.3158 24.6744 66.192 26.88 66.192H57.12C59.3255 66.192 61.4407 65.3158 63.0003 63.7563C64.5598 62.1967 65.436 60.0815 65.436 57.876V32.928C65.436 30.7224 64.5598 28.6072 63.0003 27.0477C61.4407 25.4881 59.3255 24.612 57.12 24.612ZM60.9 57.876C60.9 58.8785 60.5017 59.84 59.7928 60.5488C59.0839 61.2577 58.1225 61.656 57.12 61.656H26.88C25.8774 61.656 24.916 61.2577 24.2071 60.5488C23.4982 59.84 23.1 58.8785 23.1 57.876V32.928C23.1 31.9255 23.4982 30.964 24.2071 30.2551C24.916 29.5462 25.8774 29.148 26.88 29.148H57.12C58.1225 29.148 59.0839 29.5462 59.7928 30.2551C60.5017 30.964 60.9 31.9255 60.9 32.928V57.876Z"
                                fill="white" />
                            <path
                                d="M35.1782 41.9839C36.2115 40.9506 36.2115 39.2752 35.1782 38.2419C34.1449 37.2086 32.4695 37.2086 31.4362 38.2419C30.4029 39.2752 30.4029 40.9506 31.4362 41.9839C32.4695 43.0172 34.1449 43.0172 35.1782 41.9839Z"
                                fill="white" />
                            <path
                                d="M52.5686 41.9814C53.6019 40.948 53.6019 39.2727 52.5686 38.2393C51.5353 37.206 49.8599 37.206 48.8266 38.2393C47.7932 39.2727 47.7932 40.948 48.8266 41.9814C49.8599 43.0147 51.5353 43.0147 52.5686 41.9814Z"
                                fill="white" />
                            <path
                                d="M42.0001 50.3162C40.9403 50.312 39.8932 50.085 38.9269 49.65C37.9605 49.215 37.0963 48.5817 36.3905 47.7911L33.0037 50.8151C34.1321 52.0856 35.517 53.1025 37.067 53.7989C38.617 54.4953 40.297 54.8553 41.9963 54.8553C43.6955 54.8553 45.3755 54.4953 46.9255 53.7989C48.4756 53.1025 49.8604 52.0856 50.9889 50.8151L47.602 47.7911C46.8971 48.5807 46.0342 49.2135 45.0692 49.6485C44.1041 50.0835 43.0586 50.3109 42.0001 50.3162Z"
                                fill="white" />
                        </svg>

                    </div>

                    <div class="pvsp notClicked startScreen">P VS P
                        <svg width="52" height="40" viewBox="0 0 52 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9.57757 8.71126C9.57757 11.8659 11.4784 14.7089 14.394 15.9161C17.3073 17.1231 20.6634 16.4575 22.8948 14.2262C25.1236 11.9949 25.7916 8.64106 24.5846 5.72542C23.3776 2.80978 20.5323 0.911377 17.3774 0.911377C13.0696 0.911377 9.57757 4.40344 9.57757 8.71126ZM22.7776 8.71126C22.7776 10.8933 21.4627 12.8644 19.4448 13.6988C17.4268 14.5355 15.1041 14.0738 13.5596 12.5292C12.0151 10.9847 11.5533 8.66206 12.3901 6.64408C13.2244 4.6261 15.1932 3.31126 17.3776 3.31126C20.3589 3.3136 22.7729 5.72998 22.7729 8.71126H22.7776Z"
                                fill="white" />
                            <path
                                d="M30.3687 13.0353C30.3663 15.7682 32.0093 18.2315 34.5312 19.2765C37.0554 20.3242 39.9593 19.7453 41.8908 17.814C43.8222 15.8828 44.3986 12.9789 43.3533 10.4568C42.3079 7.93264 39.8423 6.28965 37.1121 6.29199C33.3902 6.29903 30.3741 9.31312 30.3693 13.0348L30.3687 13.0353ZM41.4615 13.0353C41.4638 14.7955 40.4068 16.3845 38.7802 17.0595C37.156 17.7345 35.2833 17.3642 34.0388 16.1197C32.7919 14.8775 32.4193 13.0049 33.0919 11.3783C33.7646 9.75177 35.3513 8.69236 37.1115 8.69236C39.5115 8.6947 41.4544 10.6377 41.4615 13.0353Z"
                                fill="white" />
                            <path
                                d="M48.9809 27.942C43.527 23.8826 36.3761 22.8935 30.0269 25.3193C26.0191 22.7458 21.3245 21.4545 16.5641 21.6208C11.8063 21.7849 7.21012 23.3974 3.39232 26.2427C0.919662 28.0521 -0.081138 31.263 0.919662 34.1573C1.8595 37.1151 4.62046 39.1143 7.72366 39.0838H27.0269C27.369 39.0792 27.7136 39.051 28.0534 38.9995C28.3651 39.044 28.6839 39.0698 29.0003 39.0721H45.2309C47.9215 39.0956 50.3168 37.3635 51.1347 34.7995C51.9949 32.2893 51.1207 29.5101 48.9809 27.942ZM3.20032 33.4029C2.52298 31.4881 3.18626 29.3553 4.8316 28.1646C8.45974 25.467 12.8614 24.0115 17.3824 24.0115C21.9011 24.0115 26.3026 25.467 29.9308 28.1646C31.5761 29.3553 32.2418 31.4881 31.5621 33.4029C30.9504 35.3811 29.1035 36.717 27.0316 36.6842H7.7236C5.65408 36.7147 3.81208 35.3787 3.20032 33.4029ZM48.8615 34.0568C48.374 35.6318 46.9092 36.6982 45.2615 36.6841H32.3969C33.0391 35.9458 33.5266 35.088 33.8313 34.1576C34.6797 31.699 34.0891 28.9732 32.3008 27.0842C33.8618 26.6389 35.4766 26.4115 37.1008 26.4115C40.8602 26.3998 44.521 27.6139 47.5282 29.8686C48.8547 30.8131 49.3962 32.5194 48.8547 34.0569L48.8615 34.0568Z"
                                fill="white" />
                        </svg>
                    </div>

                    <div class="start notClicked startScreen">
                        <svg width="42" height="48" viewBox="0 0 42 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M42 24L0 48V0L42 24Z" fill="white" />
                        </svg>

                    </div>

                    <div class="bomb inGame notClicked">
                        <svg width="97" height="98" viewBox="0 0 97 98" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_22_2163)">
                                <path
                                    d="M40.1877 76.4884C40.3115 76.3646 40.4829 76.2884 40.6639 76.2979L67.1716 76.2884C67.343 76.2884 67.524 76.3551 67.6478 76.4789C67.7717 76.6027 67.8479 76.7742 67.8383 76.9551C67.8383 80.4603 66.4668 83.7559 63.9808 86.2419C61.4948 88.7279 58.1992 90.0995 54.694 90.0995L53.1129 90.0995C45.874 90.0995 39.9686 84.194 39.9686 76.9551C39.9781 76.7742 40.0638 76.6122 40.1877 76.4884ZM66.4763 77.6314L41.3497 77.6314C41.6926 83.8226 46.8551 88.7565 53.1224 88.7565L54.7036 88.7564C57.8468 88.7564 60.7995 87.5182 63.0283 85.2894C65.1047 83.213 66.3144 80.5174 66.4763 77.6314Z"
                                    fill="#DE4D86" />
                                <path
                                    d="M40.1784 55.1052C40.3023 54.9813 40.4737 54.9051 40.6547 54.9147L67.1719 54.9147C67.3433 54.9147 67.5243 54.9813 67.6481 55.1052C67.772 55.229 67.8482 55.4004 67.8386 55.5814L67.8482 76.9647C67.8482 77.3457 67.5529 77.641 67.1719 77.641C66.7909 77.641 66.4956 77.3457 66.4956 76.9647L66.4956 56.2577L41.3309 56.2577L41.3309 76.9647C41.3309 77.3457 41.0357 77.641 40.6547 77.641C40.2737 77.641 39.9784 77.3457 39.9784 76.9647L39.9879 55.5814C39.9784 55.4004 40.0546 55.229 40.1784 55.1052Z"
                                    fill="#DE4D86" />
                                <path
                                    d="M46.8841 44.4182C47.0079 44.2944 47.1794 44.2182 47.3604 44.2277L60.4666 44.2277C60.6952 44.2277 60.9142 44.3516 61.0381 44.5516L67.7436 55.2385C67.9436 55.5528 67.8483 55.9719 67.534 56.1719C67.2197 56.3719 66.8006 56.2767 66.6006 55.9624L60.0951 45.5898L47.7318 45.5898L41.2264 55.9624C41.0263 56.2767 40.6072 56.3719 40.2929 56.1719C39.9786 55.9719 39.8833 55.5528 40.0834 55.2385L46.7889 44.5516C46.827 44.4944 46.846 44.4563 46.8841 44.4182Z"
                                    fill="#DE4D86" />
                                <path
                                    d="M53.437 36.684C53.5132 36.6078 53.6084 36.5507 53.7227 36.5126L65.0764 33.1979C65.2859 33.1408 65.4955 33.1789 65.6669 33.3122C65.8384 33.4456 65.9336 33.6361 65.9336 33.8456L65.9336 39.3319C65.9336 39.4843 65.8765 39.6558 65.7717 39.7796L60.9616 45.3516C60.714 45.6374 60.2854 45.666 60.0091 45.4278C59.7234 45.1802 59.6948 44.7516 59.933 44.4754L64.5716 39.0938L64.5716 34.7505L54.5609 37.6746L54.5609 44.9135C54.5609 45.2945 54.2657 45.5898 53.8847 45.5898C53.5037 45.5898 53.2084 45.2945 53.2084 44.9135L53.2084 37.1603C53.2465 36.9698 53.3132 36.8078 53.437 36.684Z"
                                    fill="#DE4D86" />
                                <path
                                    d="M42.0835 33.3695C42.1025 33.3505 42.1311 33.3219 42.1501 33.3028C42.3216 33.1695 42.5407 33.1409 42.7407 33.1885L54.0943 36.5032C54.4467 36.608 54.6563 36.989 54.5515 37.3414C54.4467 37.6938 54.0658 37.9034 53.7133 37.7986L43.2265 34.7411L43.2265 39.0844L47.8651 44.466C48.1127 44.7517 48.0746 45.1708 47.7889 45.4185C47.5031 45.6661 47.084 45.628 46.8364 45.3423L42.0263 39.7702C41.9216 39.6464 41.8644 39.494 41.8644 39.3226L41.8644 33.8362C41.8835 33.6648 41.9597 33.4933 42.0835 33.3695Z"
                                    fill="#DE4D86" />
                                <path
                                    d="M53.4372 24.5685C53.561 24.4447 53.7324 24.3685 53.9134 24.378C54.2944 24.378 54.5897 24.6733 54.5897 25.0542L54.5897 33.7409C54.5897 34.1219 54.2944 34.4172 53.9134 34.4172C53.5324 34.4172 53.2371 34.1219 53.2371 33.7409L53.2467 25.0447C53.2371 24.8637 53.3133 24.6923 53.4372 24.5685Z"
                                    fill="#DE4D86" />
                                <path
                                    d="M47.1791 18.844C47.3029 18.7202 47.4744 18.644 47.6553 18.6535C48.0363 18.6535 48.3316 18.9488 48.3316 19.3298L48.3316 30.7786C48.3316 31.1596 48.0363 31.4549 47.6553 31.4549C47.2743 31.4549 46.9791 31.1596 46.9791 30.7786L46.9791 19.3298C46.9886 19.1297 47.0648 18.9583 47.1791 18.844Z"
                                    fill="#DE4D86" />
                                <path
                                    d="M59.6947 18.844C59.8185 18.7202 59.99 18.644 60.171 18.6535C60.552 18.6535 60.8472 18.9488 60.8472 19.3298L60.8472 30.7786C60.8472 31.1596 60.552 31.4549 60.171 31.4549C59.79 31.4549 59.4947 31.1596 59.4947 30.7786L59.4947 19.3298C59.4947 19.1393 59.5709 18.9678 59.6947 18.844Z"
                                    fill="#DE4D86" />
                                <path
                                    d="M44.1313 72.3356C44.2551 72.2118 44.4266 72.1356 44.6076 72.1451L63.2191 72.1451C63.6001 72.1451 63.8954 72.4404 63.8954 72.8214C63.8954 73.2024 63.6001 73.4977 63.2191 73.4977L44.6076 73.4977C44.2266 73.4977 43.9313 73.2024 43.9313 72.8214C43.9313 72.6309 44.0075 72.4595 44.1313 72.3356Z"
                                    fill="#DE4D86" />
                                <path
                                    d="M48.2746 68.0781C48.3985 67.9543 48.5699 67.8781 48.7509 67.8876L59.0758 67.8876C59.4568 67.8876 59.7521 68.1828 59.7521 68.5638C59.7521 68.9448 59.4568 69.2401 59.0758 69.2401L48.7509 69.2401C48.3699 69.2401 48.0746 68.9448 48.0746 68.5638C48.0746 68.3733 48.1508 68.2019 48.2746 68.0781Z"
                                    fill="#DE4D86" />
                                <path
                                    d="M45.5504 79.4317C45.6742 79.3079 45.8456 79.2317 46.0266 79.2412C46.4076 79.2412 46.7029 79.5364 46.7029 79.9174C46.7029 82.8321 49.065 85.1942 51.9796 85.1942C52.3606 85.1942 52.6559 85.4895 52.6559 85.8705C52.6559 86.2515 52.3606 86.5467 51.9796 86.5467C48.3221 86.5467 45.3503 83.575 45.3599 79.927C45.3503 79.7269 45.4265 79.5555 45.5504 79.4317Z"
                                    fill="#DE4D86" />
                            </g>
                            <defs>
                                <clipPath id="clip0_22_2163">
                                    <rect width="60.6159" height="75.7698" fill="white"
                                        transform="translate(96.8706 54.3812) rotate(135)" />
                                </clipPath>
                            </defs>
                        </svg>

                        <div class="cost">50</div>
                    </div>

                    <div class="airforce inGame notClicked">
                        <svg width="97" height="98" viewBox="0 0 97 98" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_41_1422)">
                                <path
                                    d="M70.0862 64.3036L70.0126 60.1347C70.0113 60.0301 69.9871 59.927 69.9417 59.8328C69.8962 59.7385 69.8306 59.6554 69.7495 59.5893L64.2576 55.0888L64.1398 48.3391L78.2091 51.0727C78.3145 51.0935 78.4233 51.0905 78.5274 51.0638C78.6316 51.0371 78.7284 50.9875 78.8109 50.9185C78.8933 50.8496 78.9593 50.763 79.004 50.6653C79.0487 50.5675 79.0709 50.461 79.0691 50.3535L78.9821 45.2229C78.9794 45.0969 78.9439 44.9737 78.8791 44.8655C78.8143 44.7573 78.7224 44.6679 78.6125 44.6061L76.9965 43.7078C76.9979 43.6913 76.9984 43.6747 76.9981 43.6581L76.8836 37.0009C76.8741 36.4553 76.6523 35.5739 76.345 34.8566C75.8681 33.7337 75.2671 33.1765 74.5379 33.1893C73.8373 33.2015 73.2628 33.7792 72.8194 34.9173C72.5406 35.6415 72.3473 36.5343 72.3569 37.08L72.4278 41.1419L70.4391 40.0294L70.3246 33.4237C70.3151 32.878 70.0942 31.9958 69.7868 31.2785C69.3107 30.1565 68.7089 29.5984 67.978 29.6112C67.2783 29.6242 66.7038 30.202 66.2604 31.34C65.9816 32.0642 65.7883 32.9571 65.7978 33.5027L65.8638 37.4721L63.9295 36.389L63.882 33.5715C63.8799 33.4497 63.847 33.3304 63.7863 33.2247C63.7257 33.119 63.6394 33.0303 63.5354 32.9669L58.9723 30.1946L58.8344 22.1952C58.7618 18.4026 57.8727 14.6702 56.2277 11.2522L53.7125 6.03521C53.6535 5.90907 53.5593 5.80271 53.4411 5.72901C53.323 5.65532 53.186 5.61744 53.0467 5.61996C52.9075 5.62248 52.772 5.66529 52.6566 5.74321C52.5412 5.82113 52.4508 5.93083 52.3964 6.05903L50.0623 11.3565C48.5379 14.831 47.7808 18.5934 47.8425 22.3871L47.9821 30.3881L43.5186 33.318C43.4163 33.3844 43.3327 33.4759 43.2757 33.5838C43.2188 33.6917 43.1904 33.8124 43.1933 33.9343L43.2433 36.7492L41.3471 37.8983L41.2796 33.9307C41.2692 33.3842 41.0491 32.5028 40.7409 31.7847C40.2648 30.6626 39.6647 30.1045 38.9338 30.1173C38.2341 30.1304 37.6596 30.7081 37.2153 31.8453C36.9374 32.5704 36.7424 33.4632 36.7528 34.008L36.8681 40.6146L34.9203 41.7966L34.8485 37.7338C34.8399 37.189 34.6181 36.306 34.3108 35.5886C33.8305 34.4709 33.2337 33.9094 32.5028 33.9221C30.956 33.95 30.307 36.9161 30.3218 37.8128L30.4387 44.4624L30.4413 44.5128L28.8576 45.467C28.7494 45.532 28.6605 45.6245 28.5997 45.735C28.5389 45.8456 28.5084 45.9702 28.5114 46.0963L28.601 51.2277C28.6021 51.3225 28.6221 51.4161 28.6598 51.503C28.6975 51.59 28.7521 51.6686 28.8204 51.7343L28.8752 51.7872C28.9597 51.8536 29.0581 51.9001 29.1631 51.9232C29.2681 51.9463 29.3769 51.9455 29.4815 51.9207L43.4468 48.6977L43.5646 55.4475L38.2415 60.1367C38.2274 60.1513 38.2134 60.1659 38.2001 60.1796C38.0675 60.3174 37.995 60.5023 37.9985 60.6935L38.0705 64.8624C38.0716 64.9574 38.0917 65.0512 38.1295 65.1383C38.1673 65.2255 38.2221 65.3042 38.2907 65.3699C38.3104 65.3889 38.3319 65.4096 38.3516 65.4286C38.4387 65.4946 38.5396 65.5401 38.6467 65.5615C38.7539 65.583 38.8645 65.5799 38.9703 65.5526L50.8097 62.4788L57.2681 62.366L69.2076 65.0248C69.3143 65.0484 69.425 65.0476 69.5313 65.0224C69.6377 64.9972 69.7369 64.9483 69.8216 64.8793C69.8425 64.8603 69.8621 64.84 69.8804 64.8185C69.9473 64.7507 69.9999 64.6702 70.0353 64.5818C70.0706 64.4934 70.0879 64.3988 70.0862 64.3036ZM73.8001 37.0548C73.7883 36.3811 74.2512 35.0069 74.5789 34.671C74.9216 35.0019 75.4261 36.3534 75.4387 37.0245L75.5401 42.8842L73.884 41.9571L73.8001 37.0548ZM67.2411 33.4775C67.2293 32.8039 67.6922 31.4296 68.019 31.0929C68.3617 31.4238 68.8679 32.7753 68.8797 33.4472L68.9803 39.2118L67.3233 38.2838L67.2411 33.4775ZM77.5418 45.66L77.6086 49.4862L64.114 46.8638L63.9603 38.0562L77.5418 45.66ZM38.1927 33.9862C38.181 33.3126 38.6438 31.9383 38.9723 31.6016C39.315 31.9325 39.8195 33.284 39.8313 33.9559L39.9161 38.7648L38.2916 39.7491L38.1927 33.9862ZM31.7642 37.7885C31.7524 37.1149 32.2161 35.7414 32.543 35.4047C32.8857 35.7356 33.391 37.0863 33.4019 37.7574L33.4875 42.6614L31.8639 43.6466L31.7642 37.7885ZM30.0313 50.3158L29.9645 46.4913L43.2733 38.419L43.427 47.2249L30.0313 50.3158ZM58.1165 61.0726L57.9959 54.168C57.9977 54.0711 57.9799 53.9749 57.9436 53.885C57.9073 53.7952 57.8534 53.7136 57.7849 53.645C57.7164 53.5765 57.6348 53.5225 57.545 53.4861C57.4552 53.4498 57.359 53.4319 57.2621 53.4335C57.1653 53.4352 57.0697 53.4563 56.9812 53.4956C56.8927 53.535 56.813 53.5917 56.7468 53.6626C56.6807 53.7334 56.6295 53.8168 56.5963 53.9078C56.5631 53.9988 56.5485 54.0956 56.5535 54.1923L56.6711 60.9286L51.3571 61.0222L51.2395 54.2859C51.2384 54.1908 51.2184 54.0968 51.1809 54.0094C51.1433 53.9221 51.0888 53.843 51.0206 53.7767C50.9524 53.7104 50.8717 53.6583 50.7832 53.6233C50.6948 53.5883 50.6003 53.5712 50.5052 53.5728C50.4101 53.5745 50.3162 53.5949 50.2291 53.633C50.1419 53.671 50.0631 53.7259 49.9972 53.7946C49.9313 53.8632 49.8797 53.9441 49.8452 54.0328C49.8107 54.1214 49.794 54.216 49.7962 54.3111L49.9168 61.2158L39.4943 63.9212L39.4434 61.0027L44.7749 56.3133C44.789 56.2987 44.8022 56.285 44.8163 56.2704C44.949 56.1326 45.0215 55.9477 45.0179 55.7565L44.6451 34.3049L49.1087 31.375C49.2527 31.2796 49.3573 31.1354 49.4031 30.9689C49.4109 30.9377 49.4171 30.9061 49.4217 30.8742C49.4276 30.834 49.4297 30.7934 49.428 30.7528L49.2816 22.3662C49.2258 18.7804 49.9438 15.2247 51.3864 11.9415L53.0904 8.08357L54.928 11.8797C56.4814 15.1093 57.3209 18.6356 57.3894 22.2188L57.5358 30.6054C57.5354 30.6549 57.5405 30.7042 57.551 30.7525C57.5536 30.7688 57.5576 30.7848 57.5628 30.8003C57.6123 30.9744 57.7259 31.1233 57.8809 31.2168L62.4439 33.9891L62.8184 55.4458C62.8202 55.5505 62.8448 55.6536 62.8903 55.7479C62.9359 55.8422 63.0014 55.9255 63.0824 55.992L68.5743 60.4925L68.6252 63.411L58.1165 61.0726Z"
                                    fill="#DE4D86" />
                                <path
                                    d="M55.7161 21.5615C55.6972 20.5244 55.4454 19.5049 54.9793 18.5783L54.4558 17.543C54.3429 17.3195 54.1693 17.1323 53.9549 17.0029C53.7404 16.8735 53.4939 16.8071 53.2435 16.8114C52.9931 16.8157 52.749 16.8904 52.5391 17.0271C52.3292 17.1637 52.1621 17.3568 52.0569 17.584L51.5691 18.6378C51.1362 19.5803 50.9201 20.6079 50.9368 21.6449L51.1551 34.2038C51.1606 34.5177 51.2279 34.8275 51.3531 35.1154C51.4783 35.4034 51.659 35.6638 51.8848 35.8819C52.1107 36.1 52.3773 36.2715 52.6694 36.3866C52.9615 36.5017 53.2735 36.5581 53.5874 36.5526C53.9013 36.5471 54.2111 36.4799 54.499 36.3547C54.787 36.2295 55.0474 36.0488 55.2655 35.8229C55.4836 35.5971 55.6551 35.3305 55.7702 35.0383C55.8853 34.7462 55.9417 34.4343 55.9362 34.1203L55.7161 21.5615ZM53.5614 35.1085C53.3105 35.1115 53.0686 35.0154 52.8882 34.8412C52.7078 34.6669 52.6033 34.4286 52.5975 34.1778L52.38 21.6197C52.3666 20.8001 52.5375 19.988 52.8801 19.2433L53.2705 18.3984L53.6902 19.2292C54.0585 19.9614 54.2577 20.7671 54.2729 21.5867L54.493 34.1455C54.4959 34.3964 54.3999 34.6382 54.2256 34.8187C54.0514 34.9991 53.813 35.1036 53.5622 35.1094L53.5614 35.1085Z"
                                    fill="#DE4D86" />
                            </g>
                            <defs>
                                <clipPath id="clip0_41_1422">
                                    <rect width="60.9789" height="76.2236" fill="white"
                                        transform="translate(52.9492) rotate(44)" />
                                </clipPath>
                            </defs>
                        </svg>

                        <div class="cost">80</div>
                    </div>
                </div>

                <div class="name" id="op_name"><span>Opponent</span>
                    <svg class="opponentRefresh" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>refresh</title>
                        <path
                            d="M17.65,6.35C16.2,4.9 14.21,4 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20C15.73,20 18.84,17.45 19.73,14H17.65C16.83,16.33 14.61,18 12,18A6,6 0 0,1 6,12A6,6 0 0,1 12,6C13.66,6 15.14,6.69 16.22,7.78L13,11H20V4L17.65,6.35Z" />
                    </svg>
                </div>
                <div class="squares">
                    <div class="letters">
                        <div class="empty"></div>
                        <div class="letter a">A</div>
                        <div class="letter b">B</div>
                        <div class="letter c">C</div>
                        <div class="letter d">D</div>
                        <div class="letter e">E</div>
                        <div class="letter f">F</div>
                        <div class="letter g">G</div>
                        <div class="letter h">H</div>
                        <div class="letter i">I</div>
                        <div class="letter j">J</div>
                    </div>
                    <div class="bottom">
                        <div class="numbers">
                            <div class="number one">1</div>
                            <div class="number two">2</div>
                            <div class="number three">3</div>
                            <div class="number four">4</div>
                            <div class="number five">5</div>
                            <div class="number six">6</div>
                            <div class="number seven">7</div>
                            <div class="number eight">8</div>
                            <div class="number nine">9</div>
                            <div class="number ten">10</div>
                        </div>
                        <div class="tiles">
                        </div>
                        <div class="tilesOverlay">
                            <div class="00"></div>
                            <div class="01"></div>
                            <div class="02"></div>
                            <div class="03"></div>
                            <div class="04"></div>
                            <div class="05"></div>
                            <div class="06"></div>
                            <div class="07"></div>
                            <div class="08"></div>
                            <div class="09"></div>
                            <div class="10"></div>
                            <div class="11"></div>
                            <div class="12"></div>
                            <div class="13"></div>
                            <div class="14"></div>
                            <div class="15"></div>
                            <div class="16"></div>
                            <div class="17"></div>
                            <div class="18"></div>
                            <div class="19"></div>
                            <div class="20"></div>
                            <div class="21"></div>
                            <div class="22"></div>
                            <div class="23"></div>
                            <div class="24"></div>
                            <div class="25"></div>
                            <div class="26"></div>
                            <div class="27"></div>
                            <div class="28"></div>
                            <div class="29"></div>
                            <div class="30"></div>
                            <div class="31"></div>
                            <div class="32"></div>
                            <div class="33"></div>
                            <div class="34"></div>
                            <div class="35"></div>
                            <div class="36"></div>
                            <div class="37"></div>
                            <div class="38"></div>
                            <div class="39"></div>
                            <div class="40"></div>
                            <div class="41"></div>
                            <div class="42"></div>
                            <div class="43"></div>
                            <div class="44"></div>
                            <div class="45"></div>
                            <div class="46"></div>
                            <div class="47"></div>
                            <div class="48"></div>
                            <div class="49"></div>
                            <div class="50"></div>
                            <div class="51"></div>
                            <div class="52"></div>
                            <div class="53"></div>
                            <div class="54"></div>
                            <div class="55"></div>
                            <div class="56"></div>
                            <div class="57"></div>
                            <div class="58"></div>
                            <div class="59"></div>
                            <div class="60"></div>
                            <div class="61"></div>
                            <div class="62"></div>
                            <div class="63"></div>
                            <div class="64"></div>
                            <div class="65"></div>
                            <div class="66"></div>
                            <div class="67"></div>
                            <div class="68"></div>
                            <div class="69"></div>
                            <div class="70"></div>
                            <div class="71"></div>
                            <div class="72"></div>
                            <div class="73"></div>
                            <div class="74"></div>
                            <div class="75"></div>
                            <div class="76"></div>
                            <div class="77"></div>
                            <div class="78"></div>
                            <div class="79"></div>
                            <div class="80"></div>
                            <div class="81"></div>
                            <div class="82"></div>
                            <div class="83"></div>
                            <div class="84"></div>
                            <div class="85"></div>
                            <div class="86"></div>
                            <div class="87"></div>
                            <div class="88"></div>
                            <div class="89"></div>
                            <div class="90"></div>
                            <div class="91"></div>
                            <div class="92"></div>
                            <div class="93"></div>
                            <div class="94"></div>
                            <div class="95"></div>
                            <div class="96"></div>
                            <div class="97"></div>
                            <div class="98"></div>
                            <div class="99"></div>
                        </div>
                    </div>


                </div>
                <div class="ships">
                    <div class="distroyers">
                        <div class="destroyer ship quad_horizontal" draggable="false">
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="battleships">
                        <div class="battleship ship tri_horizontal" draggable="false">
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                        <div class="battleship ship tri_horizontal" draggable="false">
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="freighters">
                        <div class="freighter ship double_horizontal" draggable="false">
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                        <div class="freighter ship double_horizontal" draggable="false">
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                        <div class="freighter ship double_horizontal" draggable="false">
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="boats">
                        <div class="boat ship single_horizontal" draggable="false">
                            <div class="circle"></div>
                        </div>
                        <div class="boat ship single_horizontal" draggable="false">
                            <div class="circle"></div>
                        </div>
                        <div class="boat ship single_horizontal" draggable="false">
                            <div class="circle"></div>
                        </div>
                        <div class="boat ship single_horizontal" draggable="false">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</body>

</html>